body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar {
  width: 300px;
  height: 100%;
  background-color: red;
}

.body {
  background-color: blue;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  min-height: 100px;
  height: 15%;

  background-color: yellow;
}

.content {
  background-color: green;
  flex: 1;
}
